<div class="container">
  
      
        <h2>List of players</h2>        

          <div class="form-group">
            <label for="exampleInputEmail1">Player / Team search</label>
            <input type="text" [typeahead]="teamNames" [(ngModel)]="filterName" class="form-control"  aria-describedby="emailHelp" placeholder="Enter players name or team name">                                    
          </div>

      
      
        <table *ngIf='players.length > 0' class="table table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Minutes</th>
              <th>Form</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of players | filter : filterName' [ngClass]="item.news ? 'injured': 'noInjury'">
              <td><img style="width:50px;height:50px;" src='http://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p{{item.code}}.png'></td>
              <td>{{item.web_name}}</td>
              <td>{{item.minutes}}</td>
              <td>{{item.form}}</td>        
            </tr>
      
          </tbody>
        </table>
      
  </div>
  