<div class="container">  
  <br/>
    <h2>New Features</h2>
    <hr class="featurette-divider"> 
    <div class="row featurette">
        <div class="col-sm-12">
            <p class="lead">Our algorithm in how we choose replacement players has changed especially in how we calculate the fixture difficulty rating. Thanks to some Reddit users for this suggestion!</p>        
        </div>
      </div>
    <hr class="featurette-divider"> 
  <div class="row featurette">
    <div class="col-sm-7">
        <h2 class="featurette-heading">
            Next up we included pictures.
            <span class="text-muted">
                We know you'd love that!!
              </span>
        </h2> 
        <p class="lead">Brightens the whole place up!! But yeah keep reading for more awesome features.</p>        
    </div>
    <div class="col-sm-5">
        <img class="featurette-image img-fluid mx-auto" alt="500x500" src="http://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p42786.png" style="width: 300px; height: 300px;">        
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
      <div class="col-sm-5">
          <img class="featurette-image img-fluid mx-auto" alt="500x500" src="../assets/playerList.png" style="width: 250px; height: 250px;">
      </div>
      <div class="col-sm-7">
        <h2 class="featurette-heading">
          Every single player now included
          <span class="text-muted">...</span>
        </h2>
        <p class="lead">We have now included a feature in which you can view detailed stats on every single player in the premier league. To use this feature click on player list in the dropdown menu and click on any player!</p>
      </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-7">
      <h2 class="featurette-heading">
        Fixtures, fixtures & more fixtures!!!
      </h2>
      <p class="lead">Yes you can now see every single fixture from the comfort of this chrome extension! You can even filter by team name to view only that teams fixtures.</p>
    </div>
    <div class="col-sm-5">

    </div>
  </div>

</div>